@model IEnumerable<WattsCRM.Models.ClientNoteViewModel>

@{
    ViewData["Title"] = "Client Note Administration";
}

<h2>Client Note Administration</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <span>Client Id:</span>
    @*<span>@Model.Select(a => a.ClientId).FirstOrDefault().ToString()</span>*@
    <span>@ViewData["ClientId"]</span>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Note)                    
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="max-width:50px">
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ClientNoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientNoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
